body {
    font-family: sans-serif;
    background-color: #000000;
    color: #f0f0f0; /* Zwiększenie kontrastu tekstu */
    margin: 0;
    padding: 0;
    position: relative; /* Umożliwia umieszczenie wideo w tle */
    overflow: hidden; /* Zapobiega przewijaniu */
}

.background-video {
    position: fixed; /* Ustawia wideo jako stałe tło */
    top: 50%;
    left: 50%;
    min-width: 100%; /* Zmienia szerokość wideo, aby pokryło cały ekran */
    min-height: 100%; /* Zmienia wysokość wideo, aby pokryło cały ekran */
    z-index: -1; /* Ustawia wideo za innymi elementami */
    object-fit: cover; /* Utrzymuje proporcje wideo i zapewnia, że wypełni całą przestrzeń */
    transform: translate(-50%, -50%); /* Centruje wideo na ekranie */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyrównanie zawartości do środka */
    justify-content: center; /* Wyśrodkowanie w pionie */
    height: 100vh; /* Umożliwia wyśrodkowanie w pionie w pełnym widoku */
    padding: 20px;
}

header, nav, main, footer {
    text-align: center; /* Wyśrodkowanie tekstu */
    width: 100%; /* Można dostosować, aby ograniczyć maksymalną szerokość */
    max-width: 800px; /* Ogranicza maksymalną szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowuje elementy w poziomie */
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #272727; /* Efekt hover dla linków */
}

nav ul li a.active {
    color: #000000;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px; /* Styl aktywnego linku */
}

h1, h2 {
    color: #ffffff;
}

main {
    padding: 20px;
}

img {
    width: 100%; /* Ustawienie na pełną szerokość kontenera */
    max-width: 400px; /* Maksymalna szerokość obrazka */
    height: auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    color: white;
}

/* Styl responsywny */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    img {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    main {
        text-align: center;
    }
}
